@import 'libs'

html, body
  background: #110921

.hidden
  display: none

iframe
  width: 100%
  border: none

.flex > p a
  color: #ff5252

pre
  margin-bottom: 16px

h3 + pre,
pre + h3
  margin-top: 16px

img
  max-width: 100%
  vertical-align: middle

// Theme-Specific
// - The background is dark, but we're using a light theme, so this
//   makes it so that text not inside cards are visible 
.flex
  > h1, > h2, > p
    color: #fff

.clear:after
  content: ''
  clear: both
  display: block

// Overrides
.v-list__group__items
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
  background: #f4f4f4

// Helpers
.unlink
  text-decoration: none
  color: initial

.navbar-pad
  padding-top: 64px

.push-t-50
  margin-top: 50%

.full-width
  width: 100%

ul
  margin-bottom: 16px

/**
 * Responsive
 */
@media screen and (max-width: 960px)
  .navbar-pad
    padding-top: 48px

@media screen and (max-width: 724px)
  .navbar-pad
    padding-top: 56px